.heading{
  width:400px;
  text-align:center;
  border:4px solid black;
  padding-bottom: 10%;
  font-family: Century Gothic, sans-serif;
  color:  #467131;

}

#title1{
  padding-bottom: 20%;
}

.box {
  border:3px solid white;
  height:400px;
  text-align: center;
}

#box1{
  border:3px solid white;
  height:400px;
  background-size:cover;
  background-image: url("projectImages/tincanlantern.jpg");
  background-position: center;

}

#box2{
  border:3px solid white;
  height:400px;
  background-size:cover;
  background-image: url("projectImages/cancontainer.jpg");
}

#box3{
  border:3px solid white;
  height:400px;
  background-size:cover;
  background-image: url("projectImages/milkjugschoolsupplycontainer.jpg");
}

#box4{
  border:3px solid white;
height:400px;
background-size:cover;
background-image: url("projectImages/eggcartonlamp.jpg");
}

#box5{
  border:3px solid white;
  height:400px;
  background-size:cover;
  background-image: url("projectImages/steelDrumChair.jpg");
}

#box6{
  border:3px solid white;
  height:400px;
  background-size:cover;
  background-image: url("projectImages/plasticBottleContainers.jpg");
}


#submit a{
  margin-top: 7%;
text-align:auto;
/*border:4px solid #467131;*/
font-family: Century Gothic, sans-serif;
color:  #E0F1D8;
background-color:#467131;
padding-bottom: 20%;
}

#submit{
  margin-top: 7%;
text-align:auto;
/*border:4px solid #467131;*/
font-family: Century Gothic, sans-serif;
color:  #E0F1D8;
 padding-bottom: 20%;
}



.subheading{
  text-align:center;
  font-family: Century Gothic, sans-serif;
  color:  #467131;
  margin-top: 1px;



}
nav{
  background-color: black !important;
}
.communityprojectsbox{
  height:100px;
  width:100%;
  border: 3px;
  background-color:#77BD55;
}
.communityprojectstxt{
  padding-top:1.7%;
  text-align: center;
  font-family: Century Gothic, sans-serif;
  font-size: 50px;
    color: #E0F1D8;
    text-align: left;
    padding-left: 5%;
}
.bigbox{
      background-color:#E0F1D8;
      margin: 1%;
}

 /*#tin{
   height: 100%;
   width: 100%
 }*/
